.popup__text {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #000;
  box-sizing: border-box;
  border: 0;
  width: 100%;
  min-height: 27px;
  background-color: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .popup__text {
    max-height: 14px;
    font-size: 14px;
  }
}