.popup__container {
  max-width: 430px;
  min-height: 330px;
  background: #fff;
  border-radius: 10px;
  border: 0;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  .popup__container {
    max-width: 282px;
    min-height: 322px;
  }
}