.profile {
  padding: 40px 200px 50px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1023px) {
  .profile {
    padding-left: 100px;
    padding-right: 100px;
  }
}


@media screen and (max-width: 767px) {
  .profile {
    padding: 42px 19px 36px;
    flex-direction: column;
    justify-content: center;
  }
}
