.elements__cards {
  margin: 0;
  padding: 0 200px 66px;
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  row-gap: 20px;
  column-gap: 17px; 
}

@media screen and (max-width: 1279px) {
  .elements__cards {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 767px) {
  .elements__cards {
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 48px;
    gap: 20px;
  }
}
