.popup__submit {
  font-family: inherit;
  width: 100%;
  height: 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  color: #FFFFFF;
  border:0;
  box-sizing: border-box;
  padding: 0;
  margin-bottom: 37px;
  background-color: #000;
  border-radius: 2px;
  transition: opacity 0.2s ease;
}

.popup__submit:hover {
  opacity: 0.5;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .popup__submit {
    height: 46px;
    font-size: 14px;
    margin-bottom: 25px;
  }
}