.popup-picture__close-button {
  background-image: url(../../../images/icon/close-icon.svg);
  min-width: 32px;
  min-height: 32px;
  background-repeat:no-repeat;
  background-size: cover;
  background-color: transparent;
  border: none;
  transition: opacity 0.2s ease;
  position: absolute;
  top: -40px;
  right: -40px;
}

.popup-picture__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .popup-picture__close-button {
    min-width: 20px;
    min-height: 20px;
    right: 0;
  }
}