.popup__text {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #000000;
  box-sizing: border-box;
  border: 0;
  width: 100%;
  max-height: 27px;
  background-color: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 30px;
}

.popup__text:nth-last-of-type(2) {
  margin-bottom: 45px;
}

@media screen and (max-width: 767px) {
  .popup__text {
    max-height: 14px;
    font-size: 14px;
  }
}